/C#版/GE上汽项目专用代码生成器/GEBrilliantFactory_V1.0/obj
/C#版/GE上汽项目专用代码生成器/GEBrilliantFactory_V1.0/bin
/设计模式/设计模式/obj
/设计模式/设计模式/bin
/设计模式/单例模式/obj
/设计模式/单例模式/bin
/抽象工厂模式/DALFactory/bin
/抽象工厂模式/DALFactory/obj
/抽象工厂模式/DBUtility/bin
/抽象工厂模式/DBUtility/obj
/抽象工厂模式/EasyMVC/bin
/抽象工厂模式/EasyMVC/obj
/抽象工厂模式/IDAL/bin
/抽象工厂模式/IDAL/obj
/抽象工厂模式/SchoolBLL/bin
/抽象工厂模式/SchoolBLL/obj
/抽象工厂模式/SchoolDAL/bin
/抽象工厂模式/SchoolDAL/obj
/抽象工厂模式/SchoolModel/bin
/抽象工厂模式/SchoolModel/obj
/设计模式/观察者模式/obj
/设计模式/观察者模式/bin
/设计模式/ORM/EntityFramework/简单的Entity Framework连接教程/简单的Entity Framework连接教程/obj
/设计模式/ORM/EntityFramework/简单的Entity Framework连接教程/简单的Entity Framework连接教程/bin
/ORM/EntityFramework/CodeFirst/CodeFirstDemo/obj
/ORM/EntityFramework/CodeFirst/CodeFirstDemo/bin
