<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICSOAService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:1234/MyWCF.Server" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_ICSOAService" contract="ServiceReference_MyWCF.ICSOAService"
          name="WSHttpBinding_ICSOAService">
        <identity>
          <userPrincipalName value="DESKTOP-M02608V\yangxiaojun" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>