<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
  <add name="RedisConnectionString" connectionString="192.168.186.131:6379,password=xiangzi"/>
  </connectionStrings>
</configuration>