<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown
           type="PB_SimpleRemotingClassDemo.RemoteClass,PB_SimpleRemotingClassDemo"
           url="http://localhost:10001/HelloTest"
          ></wellknown>
      </client>
      <channels>
        <channel port="10001" ref="http" />
      </channels>
    </application>
  </system.runtime.remoting>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>