@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        输出: <%=ViewData["message"]%>
        Hello:  @ViewBag.message
    </div>
</body>
</html>
