<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" 
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <!-- 建立目标对象实例 -->
	<bean id="bean_hello" class="com.pb.Hello" />
	<!-- 创建advice实例 -->
	<bean id="sba" class="com.pb.SayBeforeAdvice" />
	<!-- 建立代理对象 -->
	<bean id="helloProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
	    <!-- 设置代理的接口 -->
	    <property name="proxyInterfaces">
			<value>com.pb.IHello</value>
		</property>
		<!-- 设置目标对象实例 -->
		<property name="target">
			<ref bean="bean_hello"/>
		</property>
		<!-- 设置Advice实例 -->
		<property name="interceptorNames">
			<list>
			 	<value>sba</value>
			</list>
		</property>
	</bean>
</beans>
